div#gform_wrapper_1 {
    input#input_1_2, input#input_1_4 {
        width: 100%;
    }
    input#gform_submit_button_1 {
        padding: 5px 25px;
        background-color: $green;
        box-shadow: none;
        text-shadow: none;
        text-transform: uppercase;
        border: none;
        border-color: $green;
        color: $white;
    }
    input#gform_submit_button_1:hover {
        background-color: $pink;
        border-color: $pink;
    }
}